{
  "root": true,
  "extends": "eslint-config-postcss",
  "rules": {
    "indent": ["error", 2],
    "max-len": 0,
    "prefer-let/prefer-let": 0,
    "semi": ["error", "always"],
    "prettierx/options": "off"
  },
  "env": {
    "jest": true
  }
}
